<section>
  <h1>About Me - A propos</h1>
  <p><a href="http://www.droitauvelo.org/spip.php?breve419">Vélotaffeur</a> nantais, la passion de l'informatique m'a rattrapé.</p>
  <p><a href="http://www.dlecan.com">More on me - Plus d'infos sur moi.</a></p>
  <p><a href="http://www.bonial.fr/environnement/blog-neutre-en-carbone/je-veux-participer"><img border="0" width="100" height="100" src="http://www.bonial.fr/environnement/blog-zero-carbone/badge-co2_page_bleu_100_tpt_2.png" 
        title="un arbre grâce au petit geste écolo de mon blog" alt="zero papier grâce aux catalogues et promos en ligne de bonial" 
        align="center"/></a>
  </p>
</section>
